.container {
    max-width: 400px;
    margin: 0 auto;
}

input {
    text-align: right;
    height: 60px;
    padding: 10px 44px;
    font-size: 25px;
}

.buttons {
    display: grid;
    border: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    border: 1px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: #5555ff;
    color: #ffffff;
}

.button:hover {
    background-color: #323330;
    color: #ffffff;
}